{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/check.css') }}">
{% endblock %}

{% block content %}
<div>
    <p class="header-test">Проверьте свои знания за период:<br></p>
</div>
<ul class="test"></ul>

<nav class="button-holder">
  <button class="confirm">Проверить</button>
</nav>

<div class="outer">
  <div class="result-window">
    <p class="result"></p>
    <button class="save">Закрыть</button>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
  <script src="{{ url_for('static', filename='scripts/check_script.js') }}"></script>
{% endblock %}
